/* css reset */
*{
    margin: 0;
    padding: 0;
}
img{
    border: 0;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.wipper{
    width: 1226px;
    margin: 0 auto;
}
body{
    background: #fff;
}
/* banner的开始 */
.banner{
    height: 120px;
    background: 
    url("../img/xmad_15222098664539_DuOHr.jpg") no-repeat 50% 50%;
}
.banner a{
    display: block;
    width: 100%;
    height: 100%;
} 
/* banner的结束 */
/* nav的开始 */
.nav{
    background: #333;
    height: 40px;
    overflow: hidden;
}
.nav .main-menu{
    float: left;
    line-height: 40px;
    color: #b0b0b0;
}
.nav .user-info{
    float: right;
    line-height: 40px;
    color: #b0b0b0;
}
.nav li{
    float: left;
}
.nav a{
    color: #b0b0b0;
    font-size: 12px;
}
.nav a:hover{
    color: #fff;
}
.nav .sep{
    color: #424242;
    margin: 0 6px;
}
.cart{
    width: 120px;
    height: 40px;
    text-align: center;
    position: relative;
    background: #424242;
}
.cart a{
    width: 100%;
    height: 100%;
    display: block;    
}
.cart-box{
    position: absolute;
    width: 316px;
    height: 100px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 15);
    margin-top: 40px;
    right:0;
    display: none; /* 购物车   */   
}
.cart a:hover{
    background: #fff;
    color: #f60
}
/* nav的结束 */
/* .site-header开始 */
.site-header{
    /* height: 100px; */
    clear: both;
}
.site-header .header-logo{
    display: block;
    height: 55px;
    width: 55px;
    background: #ff6700;
    float: left;
    margin-top: 27px;
}
.site-header .header-logo:after{
    content: '';
    background: url("../img/logo-footer.png") no-repeat 50% 50%;
    display: block;
    height: 55px;
    width: 55px;
}
.site-header .header-nav{
    float: left;
    background: #cccccc;
    margin-left: 170px;
    overflow: hidden;
}
.site-header .nav-item{
    float: left;
    padding: 0 10px;
    height: 100px;
}
.header-nav-item{
    height: 100px;
}
.nav-item .header-sub-nav{
    position: absolute;
    left: 0;
    right: 0;
    box-shadow:0 2px 5px  rgba(0, 0, 0, 15);
    border-top: solid 1px #cccccc;
    text-align: center;
    display: none;
}
.header-nav-item{
    line-height: 100px;
}
.header-sub-nav li{
    float: left;
}
.header-sub-nav  .sub-nav-span3{
    display: block;
    float: left;
    margin-top: 35px;
    background: #e0e0e0; 
    height: 100px;
    width: 1px;
}
.header-sub-nav .sub-nav-span1{
    padding: 0 20px; 
    border: 1px solid #ff6700;
    color: #ff6700;
    font-size: 12px;
}
.header-sub-nav .sub-nav-span2{
    margin: 30px;
}
.header-sub-nav a{
    display: block;
    margin: 10px;
}
.header-sub-nav p{
    font-size: 12px;
    margin: 2px;
}
.header-sub-nav h1{
    font-size: 12px;
    color:#ff6700;
    margin: 2px;
}
.header-nav .nav-item:hover .header-sub-nav{
    display: block;
}
/* .site-header结束 */
