/* css reset */
*{
    margin: 0;
    padding: 0;
}
img{
    border: 0;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.wipper{
    width: 1226px;
    margin: 0 auto;
}
body{
    background: #fff;
}
/* banner的开始 */
.banner{
    height: 120px;
    background: 
    url("../img/xmad_15222098664539_DuOHr.jpg") no-repeat 50% 50%;
}
.banner a{
    display: block;
    width: 100%;
    height: 100%;
} 
/* banner的结束 */
/* nav的开始 */
.nav{
    background: #333;
    height: 40px;
}
.nav .main-menu{
    float: left;
    line-height: 40px;
    color: #b0b0b0;
}
.nav .user-info{
    float: right;
    line-height: 40px;
    color: #b0b0b0;
}
.nav li{
    float: left;
}
.nav a{
    color: #b0b0b0;
    font-size: 12px;
}
.nav a:hover{
    color: #fff;
}
.nav .sep{
    color: #424242;
    margin: 0 6px;
}
.cart{
    width: 120px;
    height: 40px;
    text-align: center;
    position: relative;
    background: #424242;
}
.cart a{
    width: 100%;
    height: 100%;
    display: block;    
}
.cart-box{
    position: absolute;
    width: 316px;
    height: 100px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 15);
    margin-top: 40px;
    right:0;
    display: none; /* 购物车   */   
}
.cart a:hover{
    background: #fff;
    color: #f60
}
/* nav的结束 */
/* .site-header开始 */
.site-header .logo{
    display: block;
    height: 55px;
    width: 55px;
    background: #ff6700;
}
.site-header .logo:after{
    content: '';
    background: url("../img/logo-footer.png") no-repeat 50% 50%;
    height: 55px;
    width: 55px;
    display: block;
    margin-top: 27px;
}
.header-nav{
    left: 158px;
    display: block;
    float: left;
}
/* .site-header结束 */
