.circle,.circle::after{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    border: 10px solid; 
}
.circle::after{
    content:'';

}
.blue{ 
    border-color: blue;
}
.black{
    border-color:black;
    left: 250px;   
}
.red{
    border-color:red;
    left: 490px;   
}
.yellow{
    border-color:yellow;
    left: 130px; 
    top: 100px; 
}
.green{
    border-color:green;
    left: 380px;  
    top: 100px;
}